.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 900;
  font-size: xxx-large;
}
.blue {
  color: rgb(102, 4, 4);
}
.red {
  color: rgb(3, 51, 66);
}
